@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveFromSideToSide {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.moveFromSideToSide {
  animation: moveFromSideToSide 300ms ease-in-out infinite;
}
@media (prefers-reduced-motion) {
  .moveFromSideToSide {
    animation: none
  }
}
